.container {
  height: 200px;
  width: 100px;
  background: #ddd;
  border: 1px solid #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
